extends layout

block content
	p 1. Personal Background: I am 22 years old and am on my way to a degree in computer programming from UNCC. I grew up around computers (and dogs) and built my first and current rig (computer) when I was 16 as a high school project. I was born and raised in Concrod, NC
	p 2. Academic Background: I graduated from Central Cabarrus High School in 2010. I started at CPCC for the fall semester in 2011 and had quite a lot of fun here since.  I am currently the Vice-President of STARS in STEM here at CPCC.  www.cpcc.edu/stars  Also I have taken CIS-115, CSC-120, CSC-130, CSC-151 (C++, and JAVA), WEB-115.
	p 3. IT Background: I haven't really had any experience in professional IT. Just family help-desk and other computer related help.
	p 4. Programming Experience: In high school I learned very basic HTML (and have since forgotten it).  Also I have taken CIS-115, CSC-120, CSC-130, and CSC-151 (C++, and JAVA), WEB-115.
	p 5. Plans after CPCC: Transfer to UNCC to get a bachelors in computer science
