extends layout

block inHeader
	| <link rel="stylesheet" href="/stylesheets/photos_page.css">

block content
	div#dog1
		img(src="/images/dog1.jpg" height="500" width="347" alt="dog1")
	div#dog2
		img(src="/images/dog2.jpg" height="500" width="413" alt="dog2")
	div#dog3
		img(src="/images/dog3.jpg" height="333" width="432" alt="dog3")
	div#dog4
		img(src="/images/dog4.jpg" height="333" width="465" alt="dog4")