extends layout

block content
	ul
		li Reading
			ul
				li James Patterson
				li Stephen King
				li Christopher G. Nuttall
		li Programming
			ul
				li JavaScript
				li C++
				li Java
				li Python
				li VBA
		li Video Games
			ul
				li NeonXSZ
				li BF 2142
				li Spore
		li Backpacking
		li Hiking
		li Camping
		li Golf
		li Shooting
		li Photography